.social-wrapper {
    .title {
        font-weight: 300 !important;
        margin-bottom: 50px !important;
    }
    .social-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15%;
        .social-icon {
            padding: 20px;
            font-size: 80px;
        }
    }
}

@media(max-width: 767px) {
    .social-wrapper {
        .title {
            font-weight: 300 !important;
            margin-bottom: 20px !important;
        }
        .social-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0 8px;
            .social-icon {
                padding: 10px;
                font-size: 60px;
            }
        }
    }
}