.bidders-layout .title {
  font-weight: 300 !important;
}

.bidders-layout li {
  height: 100px;
  padding: 5px;
  border: 1px solid var(--text-color-light);
}

.bidders-layout li * span {
  display: inline-block;
}

.bidders-layout li .avatar {
  width: 75px;
  height: 100%;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bidders-layout li.active {
  -webkit-box-shadow: 0px 0px 16px 1px var(--text-color-light);
          box-shadow: 0px 0px 16px 1px var(--text-color-light);
  border: 1px solid var(--text-color-dark);
}

.bidders-layout li .bid-count {
  margin-left: auto;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bidders-layout li .media-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px 0;
  border-right: 1px solid var(--text-color-light);
}

.bidders-layout li .m-2 {
  margin: 0.5rem;
}

.bidders-layout li .recent-win * {
  font-weight: 300 !important;
  font-size: 14px;
}

.bidders-layout li .name {
  border-right: 1px solid var(--border-color-light);
}

.upcomming-auction-second .react-multi-carousel-list {
  padding: 0 !important;
}

.upcomming-auction-second .carousel-item-class {
  padding: 15px;
}

.upcomming-auction-second .title {
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

@media (max-width: 767px) {
  .bidders-layout .title {
    font-weight: 300 !important;
  }
  .bidders-layout li {
    height: 100px;
    padding: 5px;
    border: 1px solid var(--text-color-light);
    position: relative;
  }
  .bidders-layout li * span {
    display: inline-block;
  }
  .bidders-layout li .avatar {
    width: 75px;
    height: 100%;
    margin-right: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bidders-layout li.active {
    -webkit-box-shadow: 0px 0px 16px 1px var(--text-color-light);
            box-shadow: 0px 0px 16px 1px var(--text-color-light);
    border: 1px solid var(--text-color-dark);
  }
  .bidders-layout li .bid-count {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    right: 5px;
    top: 5px;
    position: absolute;
    height: 20px;
    width: 20px;
  }
  .bidders-layout li .media-body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 5px 0;
    border: none;
  }
  .bidders-layout li .m-2 {
    margin: 0.5rem;
  }
  .bidders-layout li .recent-win * {
    font-weight: 300 !important;
    font-size: 10px;
  }
  .bidders-layout li .name {
    border: none;
  }
  .upcomming-auction-second .react-multi-carousel-list {
    padding: 0 !important;
  }
  .upcomming-auction-second .carousel-item-class {
    padding: 15px;
  }
  .upcomming-auction-second .title {
    margin-bottom: 20px !important;
    margin-top: 50px !important;
  }
}
/*# sourceMappingURL=bidders.css.map */