.auction-view-home-container .top-row {
  padding: 0;
  height: 350px;
}

.auction-view-home-container .top-row .main-product-view {
  margin: 15px 0 !important;
  height: 100%;
  padding-left: 25px;
  border-right: 1px solid var(--border-color-light);
}

.auction-view-home-container .top-row .main-product-view .magnifier-container {
  height: 100% !important;
}

.auction-view-home-container .top-row .main-product-view .magnifier-container img {
  width: auto;
  height: auto;
}

.auction-view-home-container .top-row .main-product-view .magnifier-container > img {
  width: 100%;
  height: 100%;
  padding: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.auction-view-home-container .top-row .main-product-detail {
  padding: 0 35px;
}

.auction-view-home-container .bottom-row {
  padding: 10px 0;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auction-view-home-container .bottom-row .carosuel-item {
  width: 100%;
  height: 100%;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  border-radius: 8px;
  overflow: hidden;
}

.auction-view-home-container .bottom-row .carosuel-item img {
  height: 80px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.auction-view-home-container .bottom-row .carousel-item-class {
  padding: 5px;
}

.auction-view-home-container .social-row {
  margin-top: 20px;
}

.auction-view-home-container .social-row .social-wrapper {
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 50px;
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px !important;
}

.popup-content .popup-buttons {
  width: 70%;
}

.popup-content .popup-buttons span {
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-color-dark);
}

@media (max-width: 767px) {
  .auction-view-home-container {
    text-align: center;
  }
  .auction-view-home-container .top-row {
    padding: 0;
    height: auto;
  }
  .auction-view-home-container .top-row .main-product-view {
    margin: 0 !important;
    height: 100%;
    padding-left: 10px;
    border-right: none;
  }
  .auction-view-home-container .top-row .main-product-view .magnifier-container {
    height: 100% !important;
  }
  .auction-view-home-container .top-row .main-product-view .magnifier-container img {
    width: auto;
    height: auto;
  }
  .auction-view-home-container .top-row .main-product-view .magnifier-container > img {
    width: 100%;
    height: 100%;
    padding: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .auction-view-home-container .top-row .main-product-detail {
    padding: 0 15px;
  }
  .auction-view-home-container .bottom-row {
    padding: 5px 0;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auction-view-home-container .bottom-row .carosuel-item {
    width: 100%;
    height: 100%;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    border-radius: 4px;
    overflow: hidden;
  }
  .auction-view-home-container .bottom-row .carosuel-item img {
    height: 40px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .auction-view-home-container .bottom-row .carousel-item-class {
    padding: 5px;
  }
  .auction-view-home-container .social-row {
    margin-top: 5px;
  }
  .auction-view-home-container .social-row .social-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=auctionViewHome.css.map */