.comments-wrapper .title {
  font-weight: 300 !important;
  margin-bottom: 50px;
}

.comments-wrapper .comment-list {
  margin-top: 80px;
}

.comments-wrapper .comment-list .comment {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.comments-wrapper .comment-list .comment img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments-wrapper .comment-list .comment label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 10px 10px 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--border-color-light);
  border-bottom: 1px solid var(--border-color-light);
  border-right: 1px solid var(--border-color-light);
}

.comments-wrapper .comment-list .comment .tool-buttons {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.comments-wrapper .comment-list .comment .tool-buttons.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-wrapper .comment-list .comment .content {
  font-size: 18px;
}

@media (max-width: 767px) {
  .comments-wrapper .title {
    margin-bottom: 20px;
  }
  .comments-wrapper .comment-list {
    margin-top: 20px;
  }
  .comments-wrapper .comment-list .comment {
    height: 70px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .comments-wrapper .comment-list .comment img {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin-right: 3px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .comments-wrapper .comment-list .comment label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px 10px 10px 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
    border-right: 1px solid var(--border-color-light);
  }
  .comments-wrapper .comment-list .comment .tool-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: none;
    width: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .comments-wrapper .comment-list .comment .tool-buttons.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comments-wrapper .comment-list .comment .content {
    font-size: 14px;
  }
}
/*# sourceMappingURL=comments.css.map */