  .signin-form {
      max-width: 326px;

      @media(max-width: 500px) {
          max-width: 100%;
      }

      .form-group {
          position: relative;
          margin-bottom: 50px;

          .msg-valid {
              position: absolute;
              bottom: -30px;
              left: 5px;
              color: red;
          }
      }

      .form-control {
          border: 1px solid #d5dae2;
          padding: 10px 25px;
          margin-bottom: 20px;
          height: 45px;
          font-size: 16px;
          line-height: 15;
          font-weight: normal;

          &::placeholder {
              color: #919aa3;
          }
      }

      .login-btn {
          padding: 13px 20px 12px;
          background-color: #000;
          border-radius: 4px;
          font-size: 17px;
          font-weight: bold;
          line-height: 20px;
          width: 100%;
          color: #fff;
          margin-bottom: 24px;

          &:hover {
              border: 1px solid #000;
              background-color: transparent;
              color: #000;
          }
      }

      .text-reset {
          text-decoration: none;
      }

      .forgot-password-link {
          font-size: 14px;
          color: #919aa3;
          margin-bottom: 12px;
      }

      &-footer-text {
          font-size: 16px;
          color: #0d2366;
          margin-bottom: 60px;

          @media (max-width: 767px) {
              margin-bottom: 24px;
          }
      }
  }